h1 {
    font-family: 'Big Shoulders Display', cursive; 
    color: hsl(0, 0%, 95%);
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 170%;
    padding: 5% 20% 20% 0%;
}

button {
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
    text-align: center;
    text-decoration: none;
    padding: 12px 32px;
    font-size: 15px;
    border: solid 2px hsl(0, 0%, 95%);
    border-radius: 30px;
}

.cards {
    display: flex;
    margin: 12% 20% 0% 20%;
}

.sedan {
    padding: 5% 0% 5% 5%;
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0px 0px 10px;
}

.sedan button {
    color: hsl(31, 77%, 52%);
}

.sedan button:hover {
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
}

.suv {
    padding: 5% 0% 5% 5%;
    background-color: hsl(184, 100%, 22%);
}

.suv button {
    color: hsl(184, 100%, 22%);
}

.suv button:hover {
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
}

.luxury {
    padding: 5% 0% 5% 5%;
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 10px 10px 0px;
}

.luxury button {
    color: hsl(179, 100%, 13%);
}

.luxury button:hover {
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
}

.attribution {
    font-size: 11px; 
    text-align: center; 
    margin: 0 auto;
    position: relative;
    top: 130px;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media all and (max-width: 1200px) {
    .cards {
        margin: 12% 10% 0% 10%;
    }
    
}

@media all and (max-width: 800px) {
    .cards {
        flex-flow: column wrap;
        margin: 12% 30% 0% 30%;
    }
    p {
        padding: 5% 20% 10% 0%;
    }

    .sedan {
        padding: 20% 0% 10% 15%;
        border-radius: 10px 10px 0px 0px;
    }

    .suv {
        padding: 20% 0% 10% 15%;
    }

    .luxury {
        padding: 20% 0% 10% 15%;
        border-radius: 0px 0px 10px 10px;
    }
}

@media all and (max-width: 450px) {
    .cards {
        flex-flow: column wrap;
        margin: 10% 5% 10% 5%;
    }
}
